<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueKnight_entity_000_summon_000_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,479}</string>
                <key>spriteSourceSize</key>
                <string>{417,479}</string>
                <key>textureRect</key>
                <string>{{0,0},{417,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_summon_000_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,479}</string>
                <key>spriteSourceSize</key>
                <string>{417,479}</string>
                <key>textureRect</key>
                <string>{{417,0},{417,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_summon_000_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,479}</string>
                <key>spriteSourceSize</key>
                <string>{417,479}</string>
                <key>textureRect</key>
                <string>{{834,0},{417,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_summon_000_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,479}</string>
                <key>spriteSourceSize</key>
                <string>{417,479}</string>
                <key>textureRect</key>
                <string>{{0,479},{417,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_summon_000_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,479}</string>
                <key>spriteSourceSize</key>
                <string>{417,479}</string>
                <key>textureRect</key>
                <string>{{417,479},{417,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_summon_000_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,479}</string>
                <key>spriteSourceSize</key>
                <string>{417,479}</string>
                <key>textureRect</key>
                <string>{{834,479},{417,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_summon_000_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,479}</string>
                <key>spriteSourceSize</key>
                <string>{417,479}</string>
                <key>textureRect</key>
                <string>{{0,958},{417,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_summon_000_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,479}</string>
                <key>spriteSourceSize</key>
                <string>{417,479}</string>
                <key>textureRect</key>
                <string>{{417,958},{417,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_summon_000_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,479}</string>
                <key>spriteSourceSize</key>
                <string>{417,479}</string>
                <key>textureRect</key>
                <string>{{834,958},{417,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hero_Hurrah.png</string>
            <key>size</key>
            <string>{1251,1437}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5324928c8f7b7f7127ee0accc9e4de2f:f0836e65baec05deba745c2b55720698:c93f54f7eed1348cfccbfe5084815d73$</string>
            <key>textureFileName</key>
            <string>Hero_Hurrah.png</string>
        </dict>
    </dict>
</plist>
