<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueKnight_entity_000_walk_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,394}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{0,0},{389,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_walk_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,394}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{389,0},{389,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_walk_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,394}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{778,0},{389,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_walk_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,394}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{1167,0},{389,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_walk_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,394}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{1556,0},{389,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_walk_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,394}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{0,394},{389,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_walk_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,394}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{389,394},{389,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_walk_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,394}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{778,394},{389,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_walk_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,394}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{1167,394},{389,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_walk_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,394}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{1556,394},{389,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hero_Walk.png</string>
            <key>size</key>
            <string>{1945,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e59d24caa9591b360882215f9603f26:f98d03d91870a0d13bcf8967a9f30792:c9d374c726a59fc55cd85a20b8ed30c5$</string>
            <key>textureFileName</key>
            <string>Hero_Walk.png</string>
        </dict>
    </dict>
</plist>
