<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueKnight_entity_000_Idle_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,385}</string>
                <key>spriteSourceSize</key>
                <string>{319,385}</string>
                <key>textureRect</key>
                <string>{{0,0},{319,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_Idle_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,385}</string>
                <key>spriteSourceSize</key>
                <string>{319,385}</string>
                <key>textureRect</key>
                <string>{{319,0},{319,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_Idle_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,385}</string>
                <key>spriteSourceSize</key>
                <string>{319,385}</string>
                <key>textureRect</key>
                <string>{{638,0},{319,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_Idle_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,385}</string>
                <key>spriteSourceSize</key>
                <string>{319,385}</string>
                <key>textureRect</key>
                <string>{{957,0},{319,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_Idle_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,385}</string>
                <key>spriteSourceSize</key>
                <string>{319,385}</string>
                <key>textureRect</key>
                <string>{{1276,0},{319,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_Idle_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,385}</string>
                <key>spriteSourceSize</key>
                <string>{319,385}</string>
                <key>textureRect</key>
                <string>{{1595,0},{319,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_Idle_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,385}</string>
                <key>spriteSourceSize</key>
                <string>{319,385}</string>
                <key>textureRect</key>
                <string>{{0,385},{319,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_Idle_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,385}</string>
                <key>spriteSourceSize</key>
                <string>{319,385}</string>
                <key>textureRect</key>
                <string>{{319,385},{319,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_Idle_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,385}</string>
                <key>spriteSourceSize</key>
                <string>{319,385}</string>
                <key>textureRect</key>
                <string>{{638,385},{319,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_Idle_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,385}</string>
                <key>spriteSourceSize</key>
                <string>{319,385}</string>
                <key>textureRect</key>
                <string>{{957,385},{319,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_Idle_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,385}</string>
                <key>spriteSourceSize</key>
                <string>{319,385}</string>
                <key>textureRect</key>
                <string>{{1276,385},{319,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hero_Idle.png</string>
            <key>size</key>
            <string>{1914,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:578a2128cfa6498e5a11b05866ea648c:53b7aff6b93abacfd16cad06857a31b8:718d3058bee38c21f95f2ae74018eee7$</string>
            <key>textureFileName</key>
            <string>Hero_Idle.png</string>
        </dict>
    </dict>
</plist>
