<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueKnight_entity_000_die backward_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,520}</string>
                <key>spriteSourceSize</key>
                <string>{567,520}</string>
                <key>textureRect</key>
                <string>{{0,0},{567,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_die backward_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,520}</string>
                <key>spriteSourceSize</key>
                <string>{567,520}</string>
                <key>textureRect</key>
                <string>{{567,0},{567,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_die backward_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,520}</string>
                <key>spriteSourceSize</key>
                <string>{567,520}</string>
                <key>textureRect</key>
                <string>{{1134,0},{567,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_die backward_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,520}</string>
                <key>spriteSourceSize</key>
                <string>{567,520}</string>
                <key>textureRect</key>
                <string>{{0,520},{567,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_die backward_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,520}</string>
                <key>spriteSourceSize</key>
                <string>{567,520}</string>
                <key>textureRect</key>
                <string>{{567,520},{567,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_die backward_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,520}</string>
                <key>spriteSourceSize</key>
                <string>{567,520}</string>
                <key>textureRect</key>
                <string>{{1134,520},{567,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_die backward_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,520}</string>
                <key>spriteSourceSize</key>
                <string>{567,520}</string>
                <key>textureRect</key>
                <string>{{0,1040},{567,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_die backward_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,520}</string>
                <key>spriteSourceSize</key>
                <string>{567,520}</string>
                <key>textureRect</key>
                <string>{{567,1040},{567,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_die backward_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,520}</string>
                <key>spriteSourceSize</key>
                <string>{567,520}</string>
                <key>textureRect</key>
                <string>{{1134,1040},{567,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hero_Die2.png</string>
            <key>size</key>
            <string>{1701,1560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b5ec1ef19e2d27aeafb0a9857eac6a0:94bece557ca4ccc0f92db59a98f00740:fb2e1d3ad419822aee6bd8a8561e8519$</string>
            <key>textureFileName</key>
            <string>Hero_Die2.png</string>
        </dict>
    </dict>
</plist>
