<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueKnight_entity_000_basic attack style 2_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,537}</string>
                <key>spriteSourceSize</key>
                <string>{512,537}</string>
                <key>textureRect</key>
                <string>{{0,0},{512,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack style 2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,537}</string>
                <key>spriteSourceSize</key>
                <string>{512,537}</string>
                <key>textureRect</key>
                <string>{{512,0},{512,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack style 2_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,537}</string>
                <key>spriteSourceSize</key>
                <string>{512,537}</string>
                <key>textureRect</key>
                <string>{{1024,0},{512,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack style 2_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,537}</string>
                <key>spriteSourceSize</key>
                <string>{512,537}</string>
                <key>textureRect</key>
                <string>{{1536,0},{512,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack style 2_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,537}</string>
                <key>spriteSourceSize</key>
                <string>{512,537}</string>
                <key>textureRect</key>
                <string>{{0,537},{512,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack style 2_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,537}</string>
                <key>spriteSourceSize</key>
                <string>{512,537}</string>
                <key>textureRect</key>
                <string>{{512,537},{512,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack style 2_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,537}</string>
                <key>spriteSourceSize</key>
                <string>{512,537}</string>
                <key>textureRect</key>
                <string>{{1024,537},{512,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack style 2_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,537}</string>
                <key>spriteSourceSize</key>
                <string>{512,537}</string>
                <key>textureRect</key>
                <string>{{1536,537},{512,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack style 2_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,537}</string>
                <key>spriteSourceSize</key>
                <string>{512,537}</string>
                <key>textureRect</key>
                <string>{{0,1074},{512,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack style 2_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,537}</string>
                <key>spriteSourceSize</key>
                <string>{512,537}</string>
                <key>textureRect</key>
                <string>{{512,1074},{512,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hero_Attack2Plist.png</string>
            <key>size</key>
            <string>{2048,1611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c58d917f3d517c5d49583c1cf385c77:5820052ab8b524c58608286841b98891:2a3014976a865c08f4e987ad58064f44$</string>
            <key>textureFileName</key>
            <string>Hero_Attack2Plist.png</string>
        </dict>
    </dict>
</plist>
