<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueKnight_entity_000_basic attack 1_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,507}</string>
                <key>spriteSourceSize</key>
                <string>{422,507}</string>
                <key>textureRect</key>
                <string>{{0,0},{422,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack 1_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,507}</string>
                <key>spriteSourceSize</key>
                <string>{422,507}</string>
                <key>textureRect</key>
                <string>{{422,0},{422,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack 1_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,507}</string>
                <key>spriteSourceSize</key>
                <string>{422,507}</string>
                <key>textureRect</key>
                <string>{{844,0},{422,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack 1_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,507}</string>
                <key>spriteSourceSize</key>
                <string>{422,507}</string>
                <key>textureRect</key>
                <string>{{1266,0},{422,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack 1_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,507}</string>
                <key>spriteSourceSize</key>
                <string>{422,507}</string>
                <key>textureRect</key>
                <string>{{0,507},{422,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack 1_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,507}</string>
                <key>spriteSourceSize</key>
                <string>{422,507}</string>
                <key>textureRect</key>
                <string>{{422,507},{422,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack 1_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,507}</string>
                <key>spriteSourceSize</key>
                <string>{422,507}</string>
                <key>textureRect</key>
                <string>{{844,507},{422,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack 1_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,507}</string>
                <key>spriteSourceSize</key>
                <string>{422,507}</string>
                <key>textureRect</key>
                <string>{{1266,507},{422,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack 1_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,507}</string>
                <key>spriteSourceSize</key>
                <string>{422,507}</string>
                <key>textureRect</key>
                <string>{{0,1014},{422,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_basic attack 1_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,507}</string>
                <key>spriteSourceSize</key>
                <string>{422,507}</string>
                <key>textureRect</key>
                <string>{{422,1014},{422,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hero_Attack1Plist.png</string>
            <key>size</key>
            <string>{1688,1521}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9779f149063baabc8a6505764ce13d10:f119f17539b146b1340d5b04e5284ba2:63530898d6610a443494113987ee9221$</string>
            <key>textureFileName</key>
            <string>Hero_Attack1Plist.png</string>
        </dict>
    </dict>
</plist>
