<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueKnight_entity_000_run_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,395}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{0,0},{394,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_run_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,395}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{394,0},{394,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_run_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,395}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{788,0},{394,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_run_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,395}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{1182,0},{394,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_run_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,395}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{1576,0},{394,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_run_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,395}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{0,395},{394,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_run_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,395}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{394,395},{394,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_run_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,395}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{788,395},{394,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_run_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,395}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{1182,395},{394,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_run_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,395}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{1576,395},{394,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hero_Run.png</string>
            <key>size</key>
            <string>{1970,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e812299f3c2f1e8212e3d35f520a3c73:e907fd9921e1d1959af0360f6a95c16c:14c04a16660e84005b1cc0fe7271007a$</string>
            <key>textureFileName</key>
            <string>Hero_Run.png</string>
        </dict>
    </dict>
</plist>
